{{>layout/header2}}
<body class="subpage">
<header id="header">
    <div class="inner">
        <a href="/" class="logo"><strong>Save Our City</strong></a>
        <nav id="nav">
            <!--로그인탭-->
            {{#userName}}
                사용자: <span id="user">{{userName}}</span>
                <a href="/logout"  role="button">로그아웃</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google"  role="button">로그인</a>
            {{/userName}}
            <a href="/">홈</a>
            <a href="/list">목록</a>
            <a href="/path">경로</a>
            <a href="/statistics">통계</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>

<!-- Three -->
<section id="three" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2>통계</h2>
            <p>사용자가 소유한 쓰레기통의 최근 통계량을 보여줍니다. </p>
        </header>

        <div class="row">
            <div class="col col">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">전체 쓰레기통</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/statistics">상세보기</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col col">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">쓰레기통 1</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/statistics/device1">상세보기</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col col">
                <div class="card bg-info text-white mb-4">
                    <div class="card-body">쓰레기통 2</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/statistics/device2">상세보기</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col col">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">쓰레기통 3</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/statistics/device3">상세보기</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col col">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">쓰레기통 4</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/statistics/device4">상세보기</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>


        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <!--<h1 class="mt-4">Dashboard</h1>-->
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">쓰레기통 1</li>
                    </ol>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-area mr-1"></i>
                                    날짜별 적재량
                                </div>
                                <div class="card-body"><canvas id="myChartOne" width="100%" height="100"></canvas></div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-bar mr-1"></i>
                                    주차별 수거량
                                </div>
                                <div class="card-body"><canvas id="myChartTwo" width="100%" height="100"></canvas></div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            쓰레기통 적재량 표
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>아이디</th>
                                        <th>날짜</th>
                                        <th>적재량</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>아이디</th>
                                        <th>날짜</th>
                                        <th>적재량</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    {{#device1}}
                                        <tr>
                                            <td>{{id}}</td>
                                            <td>{{logtime}}</td>
                                            <td>{{loadage}}%</td>
                                        </tr>
                                    {{/device1}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script>

        let device_1_ID = [];
        let device_1_DATE_TIME = [];
        let device_1_ldg = [];

            {{#device1}}
            device_1_ID.push("{{id}}")
            device_1_DATE_TIME.push("{{logtime}}")
            device_1_ldg.push(parseInt({{loadage}}))
            {{/device1}}

        let pickup = [0,0,0,0,0];
        let index =0;
        for(let i = 0; i < device_1_ldg.length/42; i++)
        {
            for(let j = 0; j < device_1_ldg.length/5; j++)
            {
                if(device_1_ldg[index+1] ==0)
                {
                    pickup[i]+=device_1_ldg[index];
                }
                index++;
            }
        }


        let myChartOne = document.getElementById('myChartOne').getContext('2d');
        let myChartTwo = document.getElementById('myChartTwo').getContext('2d');
        let barChart = new Chart(myChartOne,{
            type : 'line', //pie, line, doughnut, polarArea
            data : {
                labels : device_1_DATE_TIME,
                datasets : [{
                    label : '적재량',
                    data : device_1_ldg,
                    backgroundColor:  "#007bff",
                    borderColor:  "#007bff",
                    fill: true,
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max : 100
                        }
                    }]
                }
            }
        });
        let barChartTwo = new Chart(myChartTwo,{
            type : 'bar', //pie, line, doughnut, polarArea
            data : {
                labels : ['1주차', '2주차', '3주차', '4주차','5주차'],
                datasets : [{
                    label : '수거량(kg)',
                    data : pickup,
                    backgroundColor:  "#007bff",
                    borderColor:  "#007bff",
                    fill: true,
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max : 1000
                        }
                    }]
                }
            }
        });



    </script>

</section>

{{>layout/footer2}}