{{>layout/header2}}

<body>
<header id="header">
    <div class="inner">
        <a href="/en" class="logo"><strong>Save Our City</strong></a>
        <nav id="nav">
            <!--로그인탭-->
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout"  role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google"  role="button">LOGIN</a>
            {{/userName}}
            <a href="/en">HOME</a>
            <a href="/list/en">LIST</a>
            <a href="/path/en">PATH</a>
            <a href="/statistics/en">STATISTICS</a>
            <a class="nav-link dropdown-toggle" href="/en" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-gb"> </span> English</a>
            <div class="dropdown-menu" aria-labelledby="dropdown09">
                <a class="dropdown-item" href="/"><span class="flag-icon flag-icon-kr"> </span>  Korean</a>
            </div>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <header>
            <h1>Welcome to SOC</h1>.
        </header>

        <div class="flex ">
            <div OnClick="location.href ='/list/en'" style="cursor:pointer;">
                <span class="icon fa-align-left"></span>
                <h3><br>LIST</h3>
                <p><br>Shows a list of CLEANBOX<br>owned by the user.</p>
            </div>

            <div OnClick="location.href ='/path/en'" style="cursor:pointer;">
                <span class="icon fa-map"></span>
                <h3><br>PATH</h3>
                <p><br>It shows you the best route<br>when collecting CLEANBOX.</p>
            </div>

            <div OnClick="location.href ='/statistics/en'" style="cursor:pointer;">
                <span class="icon fa-bar-chart"></span>
                <h3><br>STATISTICS</h3>
                <p><br>Shows the latest statistics<br>for CLEANBOX owned by the user.</p>
            </div>
        </div>
    </div>
</section>


<!-- Three -->
<section id="three" class="wrapper align-center">
    <div class="inner">
        <div class="flex flex-2">
            <article>
                <div class="image round">
                    <img src="images/pic01.jpg" alt="Pic 01" />
                </div>
                <header>
                    <h3><br>CLEANBOX</h3>
                </header>
                <p>The smart waste management system module<br /> produced by the SOC team is installed inside.</p>

            </article>
            <article>
                <div class="image round">
                    <img src="images/pic02.jpg" alt="Pic 02" />
                </div>
                <header>
                    <h3><br>Integrated waste management system</h3>
                </header>
                <p>You can check the optimal path for CLEANBOX collection<br> and the loading statistics of the CLEANBOX held by the user.</p>

            </article>
        </div>
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="inner">

        <h3>team SOC</h3>

        <form action="#" method="post">

            <div class="field half first">
                <label for="name">Name</label>
                <h3>Choi Ji-hyuk, Lee Seok-in, Lim DongYun
            </div>
            <div class="field half">
                <label for="email">Email</label>
                <h3>team_soc@gmail.com
            </div>
            <div class="field">
                <label for="information">Message</label>
            </div>
            <ul class="actions">
                <p><h3>Smart Waste Management and Optimal Path Map Using IoT</p>
            </ul>
        </form>



    </div>
</footer>


{{>layout/footer2}}
