{{>layout/header}}
<link rel="stylesheet" href="/css/map.css" />

<h1>CLEANBOX modify</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">CLEANBOX Number</label>
                <input type="text" class="form-control" id="id" value="{{post.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="title">CLEANBOX Name</label>
                <input type="text" class="form-control" id="device_nm" value="{{post.device_nm}}">
            </div>
            <div class="form-group">
                <label for="title">Serial Number</label>
                <input type="text" class="form-control" id="serial_no" value="{{post.serial_no}}">
            </div>
            <!--
            <div class="form-group">
                <label for="author">적재량(임시로 수동 입력)</label>
                <input type="text" class="form-control" id="current_loadage" value="{post.current_loadage}">
            </div>
            -->
            <div class="form-group">
                <label for="title">Location</label>
                <div class = myDiv>
                    <div id="map"></div>
                    <script>
                        function initMap(listener) {

                            var myLatlng = {lat: 40.761044, lng: -73.967125};//뉴욕

                            var map = new google.maps.Map(
                                    document.getElementById('map'), {zoom: 12, center: myLatlng});
                            const geocoder = new google.maps.Geocoder();
                            // Create the initial InfoWindow.
                            var infoWindow = new google.maps.InfoWindow(
                                    {content: 'Specify the location of the device.', position: myLatlng});
                            var address = '';
                            infoWindow.open(map);

                            // Configure the click listener.
                            map.addListener('click', function (mapsMouseEvent) {
                                // Close the current InfoWindow.
                                infoWindow.close();

                                // Create a new InfoWindow.
                                infoWindow = new google.maps.InfoWindow({position: mapsMouseEvent.latLng});
                                //infoWindow.setContent(mapsMouseEvent.latLng.toString());


                                var latlng = {
                                    lat : parseFloat(mapsMouseEvent.latLng.lat()),
                                    lng : parseFloat(mapsMouseEvent.latLng.lng())
                                }

                                geocoder.geocode({ location: latlng }, (results, status) => {
                                    if (status === "OK") {
                                        if (results[0]) {
                                            //infoWindow.close();
                                            map.setZoom(11);
                                            /*const marker = new google.maps.Marker({
                                                position: latlng,
                                                map: map,
                                            });*/
                                            infoWindow.setContent(results[0].formatted_address);
                                            //address = ;
                                            document.getElementById('address').value = results[1].formatted_address;
                                            //infowindow.open(map);
                                        } else {
                                            window.alert("No results found");
                                        }
                                    } else {
                                        window.alert("Geocoder failed due to: " + status);
                                    }
                                });
                                infoWindow.open(map);
                                document.getElementById("latitude").value = mapsMouseEvent.latLng.lat();
                                document.getElementById('longitude').value = mapsMouseEvent.latLng.lng();

                            });
                        }
                    </script>

                    <script defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi-cLA2_XUrjOs-MI8SyA8SyjeZ5IrcUU&callback=initMap&language=en&region=US">
                    </script>

                </div>

                <input type="text" class="form-control" id="latitude" value="{{post.latitude}}">
                <input type="text" class="form-control" id="longitude" value="{{post.longitude}}">
                <input type="text" class="form-control" id="address" value="{{post.address}}">
            </div>


        </form>
        <a href="/list/en" role="button" class="btn btn-secondary">Cancel</a>
        <button type="button" class="btn btn-primary" id="btn-update">Modifications completed</button>
        <button type="button" class="btn btn-danger" id="btn-delete">Delete</button>
    </div>
</div>

{{>layout/footer}}