{{>layout/header}}

<h1>쓰레기통 등록</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="device_nm">쓰레기통명</label>
                <input type="text" class="form-control" id="device_nm" placeholder="쓰레기통명을 입력하세요">
            </div>
            <div class="form-group">
                <label for="location">시리얼번호</label>
                <input type="text" class="form-control" id="serial_no" placeholder="시리얼번호를 입력하세요">
            </div>
            <!--
            <div class="form-group">
                <label for="content"> 설명 </label>
                <textarea class="form-control" id="content" placeholder="설명을 입력하세요"></textarea>
            </div>
            -->
        </form>
        <a href="/list" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>

{{>layout/footer}}