<!DOCTYPE HTML>
<html>
<head>
    <title>Save Our City</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/map.css" />

</head>
<h1>쓰레기통 등록</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="device_nm">쓰레기통명</label>
                <input type="text" class="form-control" id="device_nm" placeholder="쓰레기통명을 입력하세요">
            </div>
            <div class="form-group">
                <label for="device_nm">시리얼번호</label>
                <input type="text" class="form-control" id="serial_no" placeholder="시리얼번호를 입력하세요">
            </div>
            <!--
            <div class="form-group">
                <label for="device_nm">적재량</label>
                <input type="text" class="form-control" id="current_loadage" placeholder="적재량을 입력하세요">
            </div>
            -->
            <div class="form-group">
                <label for="device_nm">위치</label>
                <div class = myDiv>
                    <div id="map"></div>
                    <script>
                        function initMap(listener) {

                            var myLatlng = {lat: 40.761044, lng: -73.967125};//뉴욕

                            var map = new google.maps.Map(
                                    document.getElementById('map'), {zoom: 10, center: myLatlng});
                            const geocoder = new google.maps.Geocoder();
                            // Create the initial InfoWindow.
                            var infoWindow = new google.maps.InfoWindow(
                                    {content: '디바이스의 위치를 지정하세요.', position: myLatlng});
                            var address = '';
                            infoWindow.open(map);

                            // Configure the click listener.
                            map.addListener('click', function (mapsMouseEvent) {
                                // Close the current InfoWindow.
                                infoWindow.close();

                                // Create a new InfoWindow.
                                infoWindow = new google.maps.InfoWindow({position: mapsMouseEvent.latLng});
                                //infoWindow.setContent(mapsMouseEvent.latLng.toString());


                                var latlng = {
                                    lat : parseFloat(mapsMouseEvent.latLng.lat()),
                                    lng : parseFloat(mapsMouseEvent.latLng.lng())
                                }

                                geocoder.geocode({ location: latlng }, (results, status) => {
                                    if (status === "OK") {
                                        if (results[0]) {
                                            //infoWindow.close();
                                            map.setZoom(11);
                                            /*const marker = new google.maps.Marker({
                                                position: latlng,
                                                map: map,
                                            });*/
                                            infoWindow.setContent(results[0].formatted_address);
                                            //address = ;
                                            document.getElementById('address').value = results[1].formatted_address;
                                            //infowindow.open(map);
                                        } else {
                                            window.alert("No results found");
                                        }
                                    } /*else {
                                        window.alert("Geocoder failed due to: " + status);
                                    }알림창 주석처리*/
                                });
                                infoWindow.open(map);
                                document.getElementById("latitude").value = mapsMouseEvent.latLng.lat();
                                document.getElementById('longitude').value = mapsMouseEvent.latLng.lng();

                            });
                        }
                    </script>

                    <script defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi-cLA2_XUrjOs-MI8SyA8SyjeZ5IrcUU&callback=initMap">
                    </script>

                </div>

                <input type="text" class="form-control" id="latitude" placeholder="자동으로 입력됩니다">
                <input type="text" class="form-control" id="longitude" placeholder="자동으로 입력됩니다">
                <input type="text" class="form-control" id="address" placeholder="자동으로 입력됩니다">

            </div>

        </form>

        <a href="/list" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>
{{>layout/footer2}}