{{>layout/header2}}
<body class="subpage">
<header id="header">
    <div class="inner">
        <a href="/en" class="logo"><strong>Save Our City</strong></a>
        <nav id="nav">
            <!--로그인탭-->
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout"  role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google"  role="button">LOGIN</a>
            {{/userName}}
            <a href="/en">HOME</a>
            <a href="/list/en">LIST</a>
            <a href="/path/en">PATH</a>
            <a href="/statistics/en">STATISTICS</a>
            <a class="nav-link dropdown-toggle" href="/statistics/en" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-gb"> </span> English</a>
            <div class="dropdown-menu" aria-labelledby="dropdown09">
                <a class="dropdown-item" href="/statistics"><span class="flag-icon flag-icon-kr"> </span>  Korean</a>
            </div>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>

<!-- Three -->
<section id="three" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2>STATISTICS</h2>
            <p>It shows the latest statistics of CLEANBOX owned by the user. </p>
        </header>

        <div class="row">
            <div class="col col">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">All Device</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/statistics/en">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col col">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Washington Square Park</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/statistics/device1/en">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col col">
                <div class="card bg-info text-white mb-4">
                    <div class="card-body">Chrysler Building</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/statistics/device2/en">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col col">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Brooklyn Botanic Garden</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/statistics/device3/en">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col col">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">John F. Kennedy Airport</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/statistics/device4/en">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>


        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <!--<h1 class="mt-4">Dashboard</h1>-->
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">All Device</li>
                    </ol>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-area mr-1"></i>
                                    Current Load by CLEANBOX
                                </div>
                                <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-bar mr-1"></i>
                                    Loadage by date
                                </div>
                                <div class="card-body"><canvas id="myBarChart" width="100%" height="50"></canvas></div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            Device log
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>DateTime</th>
                                        <th>Loadage</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>DateTime</th>
                                        <th>Loadage</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    {{#device1}}
                                        <tr>
                                            <td>{{id}}</td>
                                            <td>{{logtime}}</td>
                                            <td>{{loadage}}%</td>
                                        </tr>
                                    {{/device1}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script>

        let posts_d_name = [];
        let posts_ldg = [];

        let dvc_1_id = [];
        let dvc_1_dt = [];
        let dvc_1_ldg = [];

        let dvc_2_id = [];
        let dvc_2_dt = [];
        let dvc_2_ldg = [];

        let dvc_3_id = [];
        let dvc_3_dt = [];
        let dvc_3_ldg = [];

        let dvc_4_id = [];
        let dvc_4_dt = [];
        let dvc_4_ldg = [];


            {{#posts}}
            posts_d_name.push("{{device_nm}}")
            posts_ldg.push({{current_loadage}})
            {{/posts}}

            {{#device1}}
            dvc_1_id.push("{{id}}")
            dvc_1_dt.push("{{logtime}}")
            dvc_1_ldg.push(parseInt({{loadage}}))
            {{/device1}}

            {{#device2}}
            dvc_2_id.push("{{id}}")
            dvc_2_dt.push("{{logtime}}")
            dvc_2_ldg.push(parseInt({{loadage}}))
            {{/device2}}

            {{#device3}}
            dvc_3_id.push("{{id}}")
            dvc_3_dt.push("{{logtime}}")
            dvc_3_ldg.push(parseInt({{loadage}}))
            {{/device3}}

            {{#device4}}
            dvc_4_id.push("{{id}}")
            dvc_4_dt.push("{{logtime}}")
            dvc_4_ldg.push(parseInt({{loadage}}))
            {{/device4}}


        let index = dvc_1_id.length;
        let now_ldg =[];
        now_ldg.push(dvc_1_ldg[index-1]);
        now_ldg.push(dvc_2_ldg[index-1]);
        now_ldg.push(dvc_3_ldg[index-1]);
        now_ldg.push(dvc_4_ldg[index-1]);



        let myAreaChart = document.getElementById("myAreaChart").getContext('2d');
        let areaChart = new Chart(myAreaChart,{
            type : 'polarArea', //pie, line, doughnut, polarArea
            data : {
                datasets: [{
                    data: now_ldg,
                    backgroundColor: [
                        "#007bff",
                        "#4BC0C0",
                        "#FFCE56",
                        "#FE6211"
                    ],
                    label: 'My dataset' // for legend
                }],
                labels: ['Washington Square Park','Chrysler Building','Brooklyn Botanic Garden','John F. Kennedy Airport']
            },
            options: {
                title: {
                    display: true,
                    text: 'loadage'
                },

            }
        });

        var ctx = document.getElementById("myBarChart");
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dvc_1_dt,
                datasets:[{
                    label: 'Washington Square Park',
                    backgroundColor: "#007bff",
                    borderColor: "#007bff",
                    data: dvc_1_ldg,
                    fill: false,
                }, {
                    label: 'Chrysler Building',
                    backgroundColor: "#4BC0C0",
                    borderColor: "#4BC0C0",
                    data: dvc_2_ldg,
                    fill: false,
                }, {
                    label: 'Brooklyn Botanic Garden',
                    backgroundColor: "#FFCE56",
                    borderColor: "#FFCE56",
                    data: dvc_3_ldg,
                    fill: false,
                },{
                    label: 'John F. Kennedy Airport',
                    backgroundColor: "#FE6211",
                    borderColor: "#FE6211",
                    data: dvc_4_ldg,
                    fill: false,
                }],
            },
            options: {
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'month'
                        },
                        gridLines: {
                            display: true
                        },
                        ticks: {
                            maxTicksLimit: 6
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 100,
                            maxTicksLimit: 5
                        },
                        gridLines: {
                            display: true
                        }
                    }],
                }
            }
        });


    </script>



    <script src="/assets/demo/datatables-demo.js"></script>



</section>

{{>layout/footer2}}