{{>layout/header2}}
<body class="subpage">
<header id="header">
    <div class="inner">
        <a href="/" class="logo"><strong>Save Our City</strong></a>
        <nav id="nav">
            <!--로그인탭-->
            {{#userName}}
                사용자: <span id="user">{{userName}}</span>
                <a href="/logout"  role="button">로그아웃</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google"  role="button">로그인</a>
            {{/userName}}
            <a href="/">홈</a>
            <a href="/list">목록</a>
            <a href="/path">경로</a>
            <a href="/statistics">통계</a>
            <a class="nav-link dropdown-toggle" href="/statistics" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-kr"> </span> 한국어</a>
            <div class="dropdown-menu" aria-labelledby="dropdown09">
                <a class="dropdown-item" href="/statistics/en"><span class="flag-icon flag-icon-GB"> </span>  영어</a>
            </div>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>

<!-- Three -->
<section id="three" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2>통계</h2>
            <p>사용자가 소유한 쓰레기통의 최근 통계량을 보여줍니다. </p>
        </header>

        <div class="row">
            <div class="col col">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">전체 쓰레기통</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/statistics">상세보기</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col col">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">워싱턴 스퀘어 공원</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/statistics/device1">상세보기</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col col">
                <div class="card bg-info text-white mb-4">
                    <div class="card-body">크라이슬러 빌딩</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/statistics/device2">상세보기</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col col">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">브루클린 식물원</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/statistics/device3">상세보기</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col col">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">욘 F. 케네디 국제공항</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/statistics/device4">상세보기</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>


        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <!--<h1 class="mt-4">Dashboard</h1>-->
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">전체 쓰레기통</li>
                    </ol>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-area mr-1"></i>
                                    각 쓰레기통 현재 적재량
                                </div>
                                <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-bar mr-1"></i>
                                    쓰레기통 날짜별 적재량
                                </div>
                                <div class="card-body"><canvas id="myBarChart" width="100%" height="50"></canvas></div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            쓰레기통 적재량 표
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>아이디</th>
                                        <th>날짜</th>
                                        <th>적재량</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>아이디</th>
                                        <th>날짜</th>
                                        <th>적재량</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    {{#device1}}
                                        <tr>
                                            <td>{{id}}</td>
                                            <td>{{logtime}}</td>
                                            <td>{{loadage}}%</td>
                                        </tr>
                                    {{/device1}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script>

        let posts_d_name = [];
        let posts_ldg = [];

        let dvc_1_id = [];
        let dvc_1_dt = [];
        let dvc_1_ldg = [];

        let dvc_2_id = [];
        let dvc_2_dt = [];
        let dvc_2_ldg = [];

        let dvc_3_id = [];
        let dvc_3_dt = [];
        let dvc_3_ldg = [];

        let dvc_4_id = [];
        let dvc_4_dt = [];
        let dvc_4_ldg = [];


            {{#posts}}
            posts_d_name.push("{{device_nm}}")
            posts_ldg.push({{current_loadage}})
            {{/posts}}

            {{#device1}}
            dvc_1_id.push("{{id}}")
            dvc_1_dt.push("{{logtime}}")
            dvc_1_ldg.push(parseInt({{loadage}}))
            {{/device1}}

            {{#device2}}
            dvc_2_id.push("{{id}}")
            dvc_2_dt.push("{{logtime}}")
            dvc_2_ldg.push(parseInt({{loadage}}))
            {{/device2}}

            {{#device3}}
            dvc_3_id.push("{{id}}")
            dvc_3_dt.push("{{logtime}}")
            dvc_3_ldg.push(parseInt({{loadage}}))
            {{/device3}}

            {{#device4}}
            dvc_4_id.push("{{id}}")
            dvc_4_dt.push("{{logtime}}")
            dvc_4_ldg.push(parseInt({{loadage}}))
            {{/device4}}


        let index = dvc_1_id.length;
        let now_ldg =[];
        now_ldg.push(dvc_1_ldg[index-1]);
        now_ldg.push(dvc_2_ldg[index-1]);
        now_ldg.push(dvc_3_ldg[index-1]);
        now_ldg.push(dvc_4_ldg[index-1]);



        let myAreaChart = document.getElementById("myAreaChart").getContext('2d');
        let areaChart = new Chart(myAreaChart,{
            type : 'polarArea', //pie, line, doughnut, polarArea
            data : {
                datasets: [{
                    data: posts_ldg,
                    backgroundColor: [
                        "#007bff",
                        "#4BC0C0",
                        "#FFCE56",
                        "#FE6211"
                    ],
                    label: 'My dataset' // for legend
                }],
                labels: ['워싱턴 스퀘어 공원','크라이슬러 빌딩','브루클린 식물원','욘 F. 케네디 국제공항']
            },
            options: {
                title: {
                    display: true,
                    text: '현재 적재량'
                },

            }
        });

        var ctx = document.getElementById("myBarChart");
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dvc_1_dt,
                datasets:[{
                    label: '워싱턴 스퀘어 공원',
                    backgroundColor: "#007bff",
                    borderColor: "#007bff",
                    data: dvc_1_ldg,
                    fill: false,
                }, {
                    label: '크라이슬러 빌딩',
                    backgroundColor: "#4BC0C0",
                    borderColor: "#4BC0C0",
                    data: dvc_2_ldg,
                    fill: false,
                }, {
                    label: '브루클린 식물원',
                    backgroundColor: "#FFCE56",
                    borderColor: "#FFCE56",
                    data: dvc_3_ldg,
                    fill: false,
                },{
                    label: '욘 F. 케네디 국제공항',
                    backgroundColor: "#FE6211",
                    borderColor: "#FE6211",
                    data: dvc_4_ldg,
                    fill: false,
                }],
            },
            options: {
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'month'
                        },
                        gridLines: {
                            display: true
                        },
                        ticks: {
                            maxTicksLimit: 6
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 100,
                            maxTicksLimit: 5
                        },
                        gridLines: {
                            display: true
                        }
                    }],
                }
            }
        });


    </script>



    <script src="/assets/demo/datatables-demo.js"></script>



</section>

{{>layout/footer2}}