<!DOCTYPE html>
<html>
<head>
    <title>Getting LatLng from a Click Event</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 400px;
            width : 400px;
            margin: 0;
            padding: 200px;
        }
    </style>
</head>
<body>
<script>
    var _lat
    var _lng
</script>
<div id="map"></div>
<div>
    <label>lat</label>
    <input type="text" id="lat">
</div>
<div>
    <label>lng</label>
    <input type="text" id="lng">
</div>
<script>
    function initMap() {
        var myLatlng = {lat: 37.5, lng: 127};

        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 10, center: myLatlng});

        // Create the initial InfoWindow.
        var infoWindow = new google.maps.InfoWindow(
            {content: '디바이스의 위치를 지정하시오.', position: myLatlng});
        infoWindow.open(map);

        // Configure the click listener.
        map.addListener('click', function(mapsMouseEvent) {
            // Close the current InfoWindow.
            infoWindow.close();

            // Create a new InfoWindow.
            infoWindow = new google.maps.InfoWindow({position: mapsMouseEvent.latLng});
            infoWindow.setContent(mapsMouseEvent.latLng.toString());
            infoWindow.open(map);

            document.getElementById("lat").value = mapsMouseEvent.latLng.lat();
            document.getElementById('lng').value = mapsMouseEvent.latLng.lng();

        });
    }

</script>


<script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi-cLA2_XUrjOs-MI8SyA8SyjeZ5IrcUU&callback=initMap">
</script>
</body>
</html>